.cs-ncbSidePanelSelect:hover { cursor: pointer; opacity: 1; }
.cs-ncbAbout:hover { color: white; cursor: pointer; }

.cs-ncbPanelLblCursor:hover { cursor: pointer; color: #e6c79a; }

.cs-ncbSidePanelSelectMsg:hover {
    background-color: #fafad1;
    color: #504c4c;
    cursor: default;
}

.cs-ncbSharePage:hover,
.cs-ncbShare:hover,
.cs-ncbDots:hover {
    cursor: pointer;
    border-radius: 50%;
    background-color: #caa874;
}

.cs-ncbMenu1:hover,
.cs-ncbMenu2:hover,
.cs-ncbMenu3:hover,
.cs-ncbMenu4:hover,
.cs-ncbLast:hover { color: white; cursor: pointer; }

.cs-ncbArrow:hover { opacity: 1; }

.cs-ncbSort:hover {
    cursor: pointer;
    background-color: #f5f4f4;
    color: #494949;
}
.cs-ncbVersion:hover,
.cs-ncbBookSpan:hover,
.cs-ncbBookSpan1:hover,
.cs-ncbTheme:hover { background-color: #ebe8cf; cursor: pointer; }
.cs-ncbNoBookHover:hover { background-color: #f3f3f3; cursor: default; }

.cs-ncbToSelect:hover {
    color: white !important;
    background-color: #adb6bb !important;
    cursor: pointer;
}
