.cs-cp-hover  { cursor: pointer; }
.cs-menu1:hover,
.cs-menu2:hover,
.cs-menu3:hover,
.cs-menu4:hover,
.cs-nav:hover,
.cs-navLast:hover,
.cs-navNext:hover,
.cs-footers1:hover,
.cs-gear-fill:hover,
.cs-innerBook:hover,
.cs-sidePanelSelect:hover { color: white; }

.cs-theme:hover,
.cs-version:hover,
.cs-toSelect:hover,
.cs-innerBook:hover,
.cs-arrowLeftShort:hover { background-color: #dfdcdc; }

.cs-sort:hover,
.cs-x-circle:hover,
.cs-x-circle1:hover,
.cs-searchImg:hover { color: #c1d1f2; }
.cs-openFooter:hover { background-color: #e7effc; }
.cs-saveDefaultFont:hover { background-color: #cfddf9; }

.cs-searchLbl:focus { opacity: 1; color: white; }
