@media (max-height: 730px) {

    html { font-size: 95%; }
    body { margin: 0; padding: 0; }
    .cs-ncbMainText { top: 11%; }

    .cs-ncbTitle {
        width: 70%;
        font-size: 1.6rem;
    }

    .cs-ncbFirstNumber { margin-top: .07em; }

    .cs-ncbNumber {
        vertical-align: .15em;
        padding-bottom: .23em;
        padding-left: .3em;
        font-size: .93rem;
        margin-top: 1.5em;
    }

    .cs-ncbSearchBar {
        top: 3%;
        height: 6.5%;
        width: 82%;
        font-size: 1.2rem;
    }

    .cs-ncbSearchLbl { width: 79%; }

    .cs-ncbSearchImg {
        display: block;
        position: relative;
        top: -1rem;
        right: 1.65em;
        padding: .28em;
    }

    .cs-ncbPanelLbl {
        top: 7%;
        line-height: 2.3rem;
        font-size: 1.2rem;
        width: 81%;
    }

    .cs-ncbSelector {
        position: absolute;
        width: 14.15%;
        left: 82.2%;
        top: 25.5%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cs-ncbDefaultVersion {
        left: 11%;
        top: 39.9%;
        height: 60%;
        width: 77%;
    }

    .cs-ncbVersion {
        font-size: .83em;
        padding: .4em;
        padding-left: .8em;
    }
    .cs-ncbDefaultTheme {
        left: 11%;
        top: 56.6%;
        height: 22.4%;
        width: 77%;
    }
    .cs-ncbTheme {
        font-size: .83em;
        padding: .4em;
        padding-left: .8em;
    }
    .cs-ncbClear {
        top: 2%;
    }
    .cs-ncbDropHeader {
        top: 19.2%;
    }
    .cs-ncbChangeVersionHeader {
        padding-left: .9em;
        padding-bottom: .5em;
        left: 12%;
        width: 13%;
    }
    .cs-ncbChangeVersion {
        left: 11.95%;
        height: 37%;
    }

    .cs-ncbNew {
        position: absolute;
        left: 82%;
    }
    .cs-ncbChangeBookSortPointer {
        font-size: .83em;
    }
    .cs-ncbSort {
        left: 28%;
        top: 18%;
    }
    .cs-ncbChangeBookHeader {
        left: 31.3%;
        height: 4.25%;
        width: 16%;
    }
    .cs-ncbChangeBook {
        left: 31.3%;
        height: 38.5%;
        width: 16.6%;
    }
    .cs-ncbBookLine {
        height: 16%;
        width: 100%;
        font-size: .90rem;
    }
    .cs-ncbBookSpan {
        width: 48%;
        height: 72%;
    }
    .cs-ncbBookSpan1 {
        left: 50%;
        height: 11.5%;
    }

    .cs-ncbChangeChapterHeader {
        left: 44.8%;
        height: 4.25%;
        width: 15.2%;
    }
    .cs-ncbChangeChapter {
        left: 44.8%;
        height: 34.5%;
        width: 15.82%;
    }

    .cs-ncbSelectVerseHeader {
        left: 51.5%;
        height: 4.25%;
        width: 15.2%;
    }
    .cs-ncbSelectVerse {
        left: 51.5%;
        height: 34.5%;
        width: 15.8%;
    }

    .cs-ncbToSelect {
        height: 82%;
        width: 12%;
    }

    .cs-ncbSidePanelReset { top: 10%; width: 25%;}

    .cs-ncbNavLast { display: none; left: 11%; }
}

@media (max-width: 550px) {
    .cs-ncbChapter { margin-top: 2.5em; padding-bottom: 2em; }
    .cs-ncbMainText {
        left: 0;
        width: 86%;
    }
    .cs-ncbSelectContainer {
        display: none;
    }
    .cs-ncbMenu4 { display: none; }
}

@media (max-width: 450px) {
    .cs-ncbMenu1 { left: 0%;}
    .cs-ncbMenu2 { left: 17%; }
    .cs-ncbMenu3 { left: 25%; }
}

@media (max-height: 640px) and (max-width: 360px) {

    .cs-ncbSelectContainerOpen {
        display: block;
        top: 9%;
        height: 95%;
        width: 100%;
    }

    .cs-ncbDropHeader {
        top: 18.1%;
        height: 2.9%;
        width: 40%;
    }

    .cs-ncbSelector {
        top: 23.9%;
        height: 30%;
        width: 43.75%;
    }

    .cs-ncbChangeVersionHeader { left: 4%; }
    .cs-ncbVersion { font-size: .95rem; line-height: 1.5rem; }
    .cs-ncbChangeVersion { left: 4%; }

    .cs-ncbChangeBookHeader { left: 30.5%; width: 49%; padding-bottom: .6rem; }
    .cs-ncbChangeBook { left: 30.4%; width: 51.5%; }
    .cs-ncbChangeChapterHeader { left: 42.5%; top: 18.1%; width: 42%; height: 4.1%; }
    .cs-ncbChangeChapter { left: 42.8%; top: 23.9%; width: 44.1%; }
}