.cs-searchBar {
    position: relative;
    top: 5%;
    height: 4%;
    width: 78%;
    margin: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 99%;
    font-size: 1rem;
    background-color: white;
    border-radius: 1.625rem;
    border: none;
    outline: none;
    cursor: text;
    overflow: hidden;
}
.cs-searchLbl {
    display: block;
    position: absolute;
    left: .5em;
    top: .12rem;
    opacity: .45;
    height: 100%;
    width: 84%;
    border: none;
    cursor: text;
    padding-top: .3em;
    overflow: hidden;
    overflow-y: auto;
    white-space: nowrap;
    outline: none;

}
.cs-searchLbl:focus { opacity: 1; }
.cs-searchText { width: 90%; }
.cs-searchImg {
    display: block;
    position: relative;
    padding: .25em;
    top: .45rem;
    right: 2.35rem;
    height: 1.4rem;
    width: 1.4rem;
    float: right;
    opacity: .5;
    border-radius: 50%;
}
.cs-searchImg:hover { cursor: pointer; opacity: .7; background-color: #ece7e7; }
.cs-clearSearch {
    font-size: .8em;
    padding: .3em;
    border-radius: 1.625rem;
    background-color: #ece7e7;
    opacity: .5;
}
.cs-clearSearch:hover { opacity: 1; cursor: pointer; }
.cs-clear {
    display: block;
    visibility: hidden;
    position: relative;
    top: 4.5%;
    width: 99%;
    margin: auto;
    text-align: center;
}

