cs-selector { background-color: red; }

@media (min-width: 10091px) {

    .cs-searchBar { width: 83%; }
    .cs-dropHeader { top: 15.6%; height: 6%; box-shadow: 10px 0px 10px #4d4d4d40; }
    .cs-selector { border-right: 1px solid #bcbaba; border-bottom: 1px solid #bcbaba; border-bottom-right-radius: 8px; top: 21.5%; box-shadow: 10px 10px 10px #4d4d4d40; }
    .cs-changeVersion { height: 49.7%; }
    .cs-bookHeader { width: 72.9%; }
    .cs-verseHeader,
    .cs-chapterHeader { width: 67.4%; }
    .cs-bookFooter { left: 38%; }
    .cs-top { left: 38%; }
    .cs-selectVerse,
    .cs-changeChapter { height: 21%; }
    .cs-randomContainer { top: 3%; }
    .cs-defaultThemeHeader,
    .cs-defaultVersionHeader { height: 7.5%; }
    .cs-defaultVersion { top: 3.1%; height: 65.1%; }
    .cs-defaultTheme { top: 6.1%; height: 11.8%; }
    .cs-reset { margin-top: 7em; }
    .cs-footer { height: 25%; }

}

